<h1>Edit Log</h1>

<% if @log.errors.any? %>
  <div id="error_explanation">
    <h2><%= @log.errors.count %> error(s) prohibited this log from being saved:</h2>
 
    <ul>
    <% @log.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<form method="post" action="/logs/<%= @log.id %>">
  <input type="hidden" name="_method" value="patch" />
  <p>
    <div><label for="game_title">Title</label></div>
    <input id="game_title" type="text" name="log[game_title]" value="<%= @log.game_title %>" />
  </p>

  <p>
    <div><label for="game_console">Console: </label></div>
    <input id="game_console" type="text" name="log[game_console]" value="<%= @log.game_console %>" />
  </p>
  <p>
  <div><label for="game_desc">Description: </label></div>
<textarea rows="8" cols="45" id="game_desc" type="text" name="log[game_desc]"><%= @log.game_desc %></textarea>
  </p>
  <input type="submit" value="Update log" />
</form>