<br>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Console</th>
      <th>Description</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @log.game_title %> </td>
      <td><%= @log.game_console%></td>
      <td><%= @log.game_desc%></td>
      <td><%= @log.author.username%></td>
    </tr>
  </tbody>
</table> 

<br>
<% if authorize_log(@log) %>
  <div>
    <a href="/logs/<%= @log.id %>/edit"><button>Edit</button></a> 
    <form method="post" action="/logs/<%= @log.id %>" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </div>
<% end %>