<h1> <%= @log.game_title %> </h1>
<hr>
<p><%= @log.game_console%> </p>
<p><%= @log.game_desc</p> %>
<p><%= @log.log_author.username%> </p>
<br>
<% if authorize_log(@log) %>
  <div>
    <a href="/logs/<%= @log.id %>/edit"><button>Edit</button></a> 
    <form method="post" action="/logs/<%= @log.id %>" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </div>
<% end %>